body{
        background:#cecece;
    }

p{
    color: rgb(34,34,34);
}

.foto{
    width: 200px;
    border: 2px solid#FFFFFF;
    border-radius: 50%;

   /* margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 500px;
   */

   margin: 10px 20px 30px 20px ;
 
}

